{% extends 'core/base.html' %}


{% block title %} Login {% endblock %}



{% block css %} {% endblock %}



{% block content %} 

    <div class="col-sm-8 offset-2">
        <h3 class="text-center alert alert-info">Update blog</h3>

        {% if messages %}
            {% for message in messages %}
                <h4 class="text-center alert alert-warning">{{message}}</h4>
            {% endfor %}
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data" novalidate>

            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} <span class="text-danger">{{fm.errors}}</span>
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{error}}</p>
                {% endfor %}
            {% endif %}

            <input type="submit" value="Signup" class="btn btn-sm btn-success">
            <input type="reset" value="Reset" class="btn btn-sm btn-danger">
        </form>
    </div>


{% endblock %}
