{% extends 'core/base.html' %}


{% block title %} Home {% endblock %}




{% block content %} 
    <h2 class="text-center alert alert-success">Home Page</h2>

    {% if messages %}
        {% for message in messages %}
            <h4 class="text-center alert alert-success">{{message}}</h4>
        {% endfor %}
    {% endif %}
    

    {% for blog in blogs %}
        <div class="row">
            <div class="col-sm-4 mt-3">
                <div class="card" style="width: 100%;">
                    <img src="{{blog.image.url}}" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <p>created at: {{blog.created_at}}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-8 mt-3">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">{{blog.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>



{% endblock %}