{% extends 'core/base.html' %}


{% block title%} Add/Show {% endblock %}

{% block content %}
    <div class="col-sm-4">
        <h2 class="text-center alert alert-info">Add Student Information</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{form.as_p}}

            <input type="submit" value="Save" class="btn btn-sm btn-success">
            <input type="reset" value="Reset" class="btn btn-sm btn-danger">
        </form>
    </div>

    <div class="col-sm-8">
        <h2 class="text-center alert alert-info">Show Student Information</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Action</td>
                </tr>
            </thead>

            {% for student in students %}
                <tbody>
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.password}}</td>
                        <td>
                            <a href="/update/{{student.id}}">
                                <button class="btn btn-sm btn-warning">Update</button>
                            </a>
                            <a href="/delete/{{student.id}}">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                </tbody>

            {% endfor %}
        </table>
    </div>
{% endblock %}
