{% extends 'core/base.html' %}


{% block title%} Update {% endblock %}

{% block content %}
    <div class="col-sm-6 offset-3">
        <h2 class="text-center alert alert-info font-large mt-5">Update Student Information</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{form.as_p}}

            <input type="submit" value="Save" class="btn btn-sm btn-success">
            <input type="reset" value="Reset" class="btn btn-sm btn-danger">
        </form>
    </div>

{% endblock %}