{% extends 'core/base.html' %}


{% block title %} Home {% endblock %}}



{% block content %}
    <div class="col-sm-4">
        <h3 class="text-center alert alert-info" style="font-size:small;">Add Student</h3>

        <form action="" method="POST" novalidate>
            {% csrf_token %}

            {{form.as_p}}

            <input type="submit" value="Save" class="btn btn-sm btn-success">
            <input type="reset" value="Reset" class="btn btn-sm btn-danger">
        </form>
    </div>


    <div class="col-sm-8">
        <h3 class="text-center alert alert-info" style="font-size:small;">Students Information</h3>
        {% if students %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.password}}</td>
                        <td>
                            <a href="/update/{{student.id}}/" style="text-decoration:none;">
                                <button class="btn btn-sm btn-warning">Update</button>
                            </a>
                            <a href="/delete/{{student.id}}/" style="text-decoration:none;">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3 class="text-center alert alert-info" style="font-size:smaller;">No record found</h3>
        {% endif %}
    </div>


{% endblock %}}